* {
    margin: 0;
    padding: 0;
    font-family:'Rubik Mono One', sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.25), 
        rgba(0, 0, 0, 0.25)
      ), url(../img/stage2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
}
.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    position: relative;
}

.navbar > ul > li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 26px;
    position: relative;
}

.navbar ul li a::after {
    content: "  ]";
    position: absolute;
    opacity: 0;
    left: 100%;
    transition: 0.2s ease;
}

.navbar ul li a::before {
    content: "[  ";
    position: absolute;
    opacity: 0;
    right: 100%;
    transition: 0.2s ease;
}

.navbar ul li a:hover {
    text-decoration: none;
    color: rgb(189, 118, 184);
    text-transform: uppercase;
}

.navbar ul li a:hover::before,
.navbar ul li a:hover::after {
    opacity: 1;
}

.navbar ul li img {
    max-height: 10rem;
    max-width: 10rem;
    }

.logo {
    cursor: pointer;
}

.main h1 {
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 3rem;
    text-shadow:0.2rem 0.2rem 0.1rem rgb(189, 118, 184);
}

.table-container {
    padding-top: 2.5rem;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.table {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    max-width: 80%;
    font-size: 1.15rem;
    border-collapse: collapse;
    border: 2px solid rgb(29, 29, 29);
    background-color: rgba(189, 118, 184, 0.25);
    min-width: 70%;
}

.table td a, .table th a {
    text-decoration: none;
    color: white;
}

.table td, .table th{
    text-align: center;
      padding: 20px 40px;
}

.table tr {
    white-space: nowrap;
    border: 2px solid rgb(29, 29, 29);
}

#footer {
    position: fixed;
    letter-spacing: 1px;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    text-align: center;
    font-size: 0.75rem;
    line-height: 175%;
    padding: 0.2rem;
}

#footer ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    list-style: none;
    font-size: 1rem;
    line-height: 200%;
}

#footer ul li a {
    text-decoration: none;
    color: white;
    padding: 0 2rem;
}